<div class="col-lg-8 col-md-6 col-sm-10 col-xs-12">
  <h1>Log In</h1>
  <br>
  <div class="text-center">
    <a href="<%= sign_in_with_github_path %>" class="btn btn-sm btn-info"><i class="fa fa-2x fa-github" aria-hidden="true"></i> Log in with GitHub</a>
    <a href="<%= sign_in_with_twitter_path %>" class="btn btn-sm btn-info"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i> Log in with Twitter</a>
    <a href="<%= sign_in_with_linkedin_path %>" class="btn btn-sm btn-info"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i> Log in with Linkedin</a>
  </div>
  <hr>
<h3 class="text-center">Or Log In With Your Email</h3>
  <br>
  <%= simple_form_for :signin, {url: sessions_path } do |f| %>

  <div class="input-group">
      <span class="input-group-addon">
          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
      </span>
      <%= f.input :email, label: false, placeholder: "Ex. user@mail.com", input_html: { class:"form-control form-with-icon input-lg" }, label_html: { class:"input-lg" }%>
  </div>


  <div class="input-group">
      <span class="input-group-addon">
          <i class="fa fa-key fa-2x" aria-hidden="true"></i>
      </span>
    <%= f.input :password, label: false, placeholder: "Password", input_html: { class:"form-control form-with-icon input-lg" }, label_html: { class:"input-lg" } %>
  </div>

    <br>
    <%= f.button :submit, "Log In", class: "btn-success btn-lg center-block" %>
  <% end %>
  <br>
  <br>
  <%= link_to "Forgot your password? Click to reset", new_password_reset_path %>
  <br>
  <br>
</div>
