<h1>Create an account</h1>

<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
  <br>
  <div class="text-center">
    <a href="<%= sign_in_with_github_path %>" class="btn btn-sm btn-info"><i class="fa fa-2x fa-github" aria-hidden="true"></i> Sign up with GitHub</a>
    <a href="<%= sign_in_with_twitter_path %>" class="btn btn-sm btn-info"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i> Sign up with Twitter</a>
    <a href="<%= sign_in_with_linkedin_path %>" class="btn btn-sm btn-info"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i> Sign up with Linkedin</a>
  </div>
  <br>
  <hr>
  <h3 class="text-center"> Or Sign Up With Your Email</h3>
  <%= simple_form_for @user do |f|%>
  <div class="input-group">
      <span class="input-group-addon">
          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
      </span>
    <%= f.input :first_name, label: false, placeholder: "First Name", input_html: { class:"form-control form-with-icon input-lg" }, label_html: { class:"input-lg" } %>
  </div>
  <div class="input-group">
      <span class="input-group-addon">
          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
      </span>
    <%= f.input :last_name, label: false, placeholder: "Last Name", input_html: { class:"form-control form-with-icon input-lg" }, label_html: { class:"input-lg" } %>
  </div>
  <div class="input-group">
      <span class="input-group-addon">
          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
      </span>
      <%= f.input :email, label: false, placeholder: "Email", input_html: { class:"form-control form-with-icon input-lg" }, label_html: { class:"input-lg" }%>
  </div>
  <div class="input-group">
      <span class="input-group-addon">
          <i class="fa fa-key fa-2x" aria-hidden="true"></i>
      </span>
    <%= f.input :password, label: false, placeholder: "Password", input_html: { class:"form-control form-with-icon input-lg" }, label_html: { class:"input-lg" } %>
  </div>
  <div class="input-group">
      <span class="input-group-addon">
          <i class="fa fa-key fa-2x" aria-hidden="true"></i>
      </span>
    <%= f.input :password_confirmation, label: false, placeholder: "Password Confirmation", input_html: { class:"form-with-icon form-control input-lg" }, label_html: { class:"input-lg" } %>
  </div>

  <br>
  <div>
  <%= f.submit "Create account!", class:"btn btn-success btn-lg center-block"%>
  </div>
  <% end %>
  <br>
  <br>
  <br>
  <br>

</div>
