<h1 id="search">All Posts</h1>

<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
  <%= submit_tag "Search" %>
<% end %>

  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Post Title</th>
        <th>Preview</th>
        <th>Date Added</th>
      </tr>
    </thead>
    <% @posts.each do |post| %>
    <tbody>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.body %></td>
        <td>Column content</td>
      </tr>
    </tbody>
    <% end %>
  </table>


<div class="pagination center-block text-center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
