<h1><%= @post.title %> </h1>
<p>Author: <%= @post.user_full_name %>
<p>Category: <%= @category %> </p>
<p>Body: <%= @post.body %> </p>
<p>Created: <%= @post.created_at %> </p>
<p>Tags: <%= @post.tags.map{|t| t.name }.join(", ") %></p>
  <br>

<% if can? :edit, @post %>
<%= link_to "Edit", edit_post_path(@post) %>
<% end %>
<% if can? :destroy, @post %>
<%= link_to "Delete", post_path(@post),
                      method: :delete,
                      data: {confirm: "Are you sure you want to delete #{@post.title}?"} %>
<% end %>
<% if user_signed_in? %>
  <div id="post-favourite">
    <%= render "/favourites/favourite" %>
  </div>
<% end %>

<br>
<br>
<h2>Comments</h2>
<hr>
<div id="comments">
  <% @post.comments.order("created_at desc").each do |comment| %>
    <%= render "/comments/comment", comment: comment %>
  <% end %>
</div>


<%#This makes it so that only signed in users can add comments  %>
<% if user_signed_in? %>
<h2>Add a comment</h2>
  <div id="comment-form">
    <%= render "/comments/form" %>
  </div>
<% end %>
