<h1><%= @post.title %> </h1>
<p>Author: <%= @post.user_full_name %>
<p>Category: <%= @category %> </p>
<p>Body: <%= @post.body %> </p>
<p>Created: <%= @post.created_at %> </p>
<p>Tags: <%= @post.tags.map{|t| t.name }.join(", ") %></p>
  <br>

<% if can? :edit, @post %>
<%= link_to "Edit", edit_post_path(@post) %>
<% end %>
<% if can? :destroy, @post %>
<%= link_to "Delete", post_path(@post),
                      method: :delete,
                      data: {confirm: "Are you sure you want to delete #{@post.title}?"} %>
<% end %>
<% if user_signed_in? %>
  <% if user_signed_in? && @post.favourited_by?(current_user) %>
    <%= link_to "Remove from favourites", post_favourite_path(@post, @post.favourites_for(current_user)), method: :delete %>
  <% else %>
    <%= link_to "Add to favourites", post_favourites_path(@post), class: "icon-big", method: :post   %>
  <% end %>
<% end %>

<h2>Comments</h2>
<% @post.comments.order("created_at desc").each do |comment| %>
  <p>Added by: <%= comment.user_full_name %></p>
  <p><%= comment.body %></p>
  <% if can? :destroy, comment %>
  <%= link_to "Delete", post_comment_path(@post, comment),
                        method: :delete,
                        data: {confirm: "Are you sure you want to delete this comment?"} %>
  <% end %>

  <hr>
<% end %>


<%#This makes it so that only signed in users can add comments  %>
<% if user_signed_in? %>
<h2>Add a comment</h2>
<% if @comment.errors.any? %>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
  <%= f.submit "Add comment" %>
  </div>
  <% end %>
<% end %>
