<br>

<div class="panel panel-info">
  <div class="panel-heading panel-title-gradient">
    <h2 class="panel-title lead"><%= @post.title %></h2>
    <p class="pull-right label label-default">Category: <%= @category %> </p>
    <p>Posted by <%= @post.user_full_name %> on <span class="post-meta"> <%= @post.created_at.strftime("%b %d, %Y") %></span></p>
  </div>
  <div class="panel-body">
    <div>
      <%= markdown @post.body %>
    </div>
    <br>
    <p class="pull-right"><% if @post.tags.any? %> Tags:
              <% @post.tags.each do |e| %>
              <span class="label label-default"><%= e.name %></span>
              <% end %>
              <% end %>
    </p>
  </div>
  <div class="panel-footer">




<!-- Ability to edit a post -->
<% if can? :edit, @post %>
  <%= link_to edit_post_path(@post), class: "btn btn-xs btn-success" do %>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Post
  <% end %>
<% end %>
<!--  End of ability to edit a post -->

<!-- Ability to delete a post -->
<% if can? :destroy, @post %>
<%= link_to post_path(@post), class: "btn btn-xs btn-primary",
                      data: {confirm: "Are you sure you want to delete #{@post.title}?"},
                      method: :delete do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Post
  <% end %>
<% end %>
<!--  End of ability to delete a post-->

<!-- Ability to add a post as favourite -->
<% if user_signed_in? %>
  <div id="post-favourite" class="btn-group ">
    <%= render "/favourites/favourite" %>
  </div>
<% end %>
<!--  End of Ability to add a post as favourite-->

<!--  Ability to like a post -->
<% if user_signed_in? %>
  <div id="post-like" class="btn-group">
    <%= render "/likes/like" %>
  </div>
<% end %>
<!--  End of Ability to like a post -->


  </div>
</div>
<!-- End of the Post Panel -->


<br>
<h2>Comments</h2>
<div id="comments">
<%= render "/comments/comments", comments: @post.comments %>
</div>

<!-- Edit Comment Modal -->
<div class="modal fade" id="edit-comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Comment</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<%#This makes it so that only signed in users can add comments  %>
<% if user_signed_in? %>
<h2>Add a comment</h2>
  <div id="comment-form">
    <%= render "/comments/form", comment: @comment %>
  </div>
<% end %>
